body {
  margin: 0;
  padding: 0;
}

#choosePlayersPage {
  background-image: url("../bilder/ice2.jpg");
  overflow-x: hidden;
}

.choosePlayer {
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
#cards .card {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  position: relative;
}
#cards .card:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: white;
}
#cards .card .name {
  background-color: black;
  color: white;
  padding: 10px 0;
  margin-top: 0;
}

#myGame {
  width: 74.5%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  border: 5px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  padding: 20px;
}
#myGame:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.banner {
  position: absolute;
  padding: 12px 0;
  width: 100%;
  bottom: 20px;
  transform: rotate(-7deg);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.banner1 {
  background-color: orange;
}

.banner2 {
  background-color: purple;
}

#game {
  width: 100%;
  background-image: url("../bilder/ice2.jpg");
  background-size: cover;
}

.headerText {
  width: 100%;
  background-color: black;
  margin-top: -20px;
  text-align: center;
}
.headerText h1 {
  padding: 20px;
  color: white;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 166.66px 166.66px 166.66px;
  margin: auto 5%;
  margin-top: 100px;
}

#myCanvas {
  grid-column: 3/6;
  grid-row: 1/4;
  border: 1px solid black;
  margin: 0 auto;
  background-image: url("../bilder/ice-wall8-01.svg");
}

#player1Container {
  grid-column: 1/3;
  grid-row: 1/4;
  padding: 10px;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 8px solid #54CEC3;
  border-radius: 10px;
  background-color: white;
  margin-left: 15px;
}

#player2Container {
  grid-column: 7/9;
  grid-row: 1/4;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 8px solid grey;
  border-radius: 10px;
  background-color: grey;
}

.dice {
  margin: 0 auto;
  grid-column: 1/3;
  grid-row: 2/3;
}
.dice button {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 5px;
}
.dice button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.showDice {
  border: 3px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

#rollDice {
  background-color: #54CEC3;
}

#rollDice2 {
  background-color: gray;
}

.playerImage1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.playerImage2 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.playerImage {
  width: 100%;
  margin: 0 auto;
}

.overlay {
  grid-column: 3/6;
  grid-row: 2/3;
  border: 5px solid white;
  color: white;
  z-index: 2;
  animation: fadeIn ease 2s;
}

.overlayImg {
  z-index: 3;
  width: 100px;
  float: right;
}

.overlayP {
  font-size: 20px;
  float: left;
  font-family: "Roboto", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
#score1 {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: right;
  margin-right: 20px;
}

#score2 {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: right;
  margin-right: 20px;
}

.showScore {
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.color1 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 20px;
}

.color2 {
  grid-column: 7/8;
  grid-row: 3/4;
  margin-left: 20px;
}

.showColor {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.showColor1 {
  border: 7px solid orange;
  background-color: black;
}
.showColor2 {
  border: 7px solid purple;
  background-color: black;
}

#toWinnerPage {
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
}
#toWinnerPage p {
  padding: 10px 0;
  font-size: 20px;
}

#gameWinner {
  display: none;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  font-family: "Roboto", sans-serif;
}

#winnerCanvas {
  background-image: url("../bilder/winning.png");
  background-size: cover;
}

.winningGrid {
  display: grid;
  width: 50%;
  margin-left: 25%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto 40px;
  position: absolute;
  top: 100px;
  z-index: 3;
}
.winningGrid h1 {
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: black;
  color: white;
  text-align: center;
}
.winningGrid a {
  grid-column: 1/6;
  grid-row: 4/5;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.winningGrid a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.winnerImg {
  grid-column: 2/5;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1.7fr 1fr;
  grid-template-rows: 0.5fr 1.7fr 1fr;
}
.winnerImg img {
  grid-column: 1/4;
  grid-row: 1/4;
  width: 60%;
  margin-left: 20%;
}
.winnerImg .displayWinner {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: white;
  width: 100%;
  border-radius: 200px;
  height: 100%;
}
.winnerImg .displayWinner img {
  width: 70%;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
